.desktop-nav{
    display: flex;
    background: #fff;
    justify-content: space-between;
    position: fixed;
    padding: 15px 0;
    width: 100%;
    z-index: 1;
}
.desktop-logo-nav{
    padding-left: 60px;
}
.desktop-nav-link{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    padding-right: 60px;
}
.desktop-nav-link ul{
    list-style: none;
    display: inline;
}

.desktop-nav-link li{
    display: inline;
    padding: 10px;
    justify-content: center;
}

.desktop-header{
    /* margin-top: 20px; */
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
    padding-top: 130px;
    background: linear-gradient(45deg, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75)),  url('image/banner2.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.desktop-profile{
    display: flex;
}

.desktop-profile-text{
    padding-left: 50px;
}
.desktop-profile-text h1{
    margin: 0;
    font-size: 70px;
    color: #fff;
}

.desktop-profile-text h2{
    font-size: 40px;
    color: #fff;
}

.desktop-profile-img{
    max-width: 40%;
    border-radius: 50%;
    box-shadow: 0px 5px 10px #0000004e;
    transition: all 0.3s;
}

.desktop-profile-img:hover{
    transform: scale(1.115);
}

.desktop-profile-button{
    width: 150px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 5px 10px #0000004e;
    transition: all 0.3s;
    margin: 10px 0;
}

.desktop-profile-button:hover{
    transform: scale(1.15);
}

.desktop-profile-link {
    display: flex;
    align-items: center;
}

.desktop-profile-link a {
    margin: 0 10px;
    background: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 5px 10px #0000004e;
    transition: all 0.3s;
}

.desktop-profile-link-img {
    width: 40px;
}

.desktop-profile-link a:hover{
    transform: scale(1.15);
}

.desktop-app-logo{
    width: 120px;
}
.desktop-about{
    padding: 50px 200px;
    text-align: center;
}
.desktop-about-inner{
    display: flex;
    padding: 30px 0;
}
.desktop-about-inner-image{
    width: 18vw;
    margin: 0 50px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0 5px 10px #0000004e;
    filter: grayscale(1) brightness(1.4);
    transition: all 0.3s;
}
.desktop-about-inner-image:hover{
    filter: none;
    transform: scale(1.115);
}

.desktop-about-text{
    text-align: left;
    margin: 0 50px;
}

.download-resume-desktop{
    width: 100px;
    padding: 10px;
    border: none;
    background: #E25E3E;
    color: #fff;
    border-radius: 10px;
    transition: all 0.2s;
}

.download-resume-desktop:hover{
    transform: scale(1.115);
    box-shadow: 0 0 20px #0000004e;
}
.desktop-skill{
    padding: 40px 0;
    color: #fff;
    background: #711DB0;
    text-align: center;
}
.desktop-skill-inner{
    display: grid;
    padding: 40px 300px;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.desktop-skill-card-image{
    width: 120px;
}

.desktop-skill-card-image-1{
    width: 120px;
    padding: 22px 0;
}
.desktop-skill-card-image-2{
    width: 120px;
    padding: 26px 0;
}

.desktop-skill-card-image-3{
    width: 110px;
}
.desktop-skill-card-image-4{
    width: 115px;
}
.desktop-skill-card-image-5{
    width: 120px;
    padding: 5px 0;
}

.desktop-skill-card{
    border-radius: 20px;
    padding: 20px;
    width: 120px;
    /* height: 250px; */
    background: #092635;
    text-align: center;
}
.desktop-skill-card h3{
    color: #fff;
}
.desktop-education{
    padding: 40px 100px;
    text-align: center;
}
.desktop-education-card {
    display: flex;
    margin: 20px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.desktop-education-image {
    flex: 1;
    
}

.desktop-education-image-inner {
    width: 100%;
    height: 100%;
}

.desktop-education-text-inner {
    flex: 2;
    text-align: left;
    justify-content: center;
    vertical-align: middle;
    padding: 20px 10px;
}

.desktop-education h2, .desktop-education h3, .desktop-education p {
    font-size: 1.8vw;
    margin: 0;
    color: #333;
}

.desktop-education h2 {
    font-size: 2.5vw;
}

.desktop-education h3 {
    font-size: 2vw;
    color: #888;
}

.desktop-project {
    padding: 20px 100px;
    text-align: center;
    background: #365486;
    color: #fff;
}

.desktop-back-color{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #09263579;
    text-align: right;
    /* padding-right: 200px; */
    opacity: 0;
    font-size: x-large;
    color: #fff;
}

.desktop-project-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px; /* Adjust the value as needed */
    overflow: hidden; /* Ensure that rounded corners are applied */
    transition: all 0.3s;
}

.desktop-project-card:hover{
    transform: scale(1.115);
    .desktop-back-color{
        opacity: 1;
    }
}

.desktop-inner-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.desktop-project-card a {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.desktop-project-card-image {
    width: 100%;
    height: 100%;
}

.desktop-project-card h4 {
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom-left-radius: 10px; /* Adjust the value to match the border-radius of the card */
    border-bottom-right-radius: 10px; /* Adjust the value to match the border-radius of the card */
}

.desktop-more{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 20px;
    font-size: 15px;
    transition: all 0.2s;
}

.desktop-more:hover{
    transform: scaleX(1.115);
    background: #fff;
    color: #000;
    border: 2px solid #fff;
}
