.phone-nav {
    background: #fff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    width: 100%;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    z-index: 1;
}

.phone-nav-link {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.phone-nav-link ul {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    gap: 20px;
    background: #fff;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.336); */
    /* background-color: antiquewhite; */
    width: 70%;
    height: 100vh;
    padding: 40px 0;
    margin-top: 20px;
    left: -100%;
    /* top: 7.%; */
    transition: 0.3s;
    z-index: 2;

}

.phone-nav-link ul li {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}


.hamburgs {
    display: block;
    cursor: pointer;
    padding-right: 15px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #000;
}

.hamburgs.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburgs.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hamburgs.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.phone-nav-link.active ul{
    left: 0;
}

.phone-logo-nav{
    padding-left: 15px;
}

.phone-header {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75)),
                url('image/banner2.gif') center/cover no-repeat;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.phone-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 100%; */
}

.phone-profile-text{
    text-align: left;
}
.phone-profile-text h1{
    margin: 0;
    font-size: 30px;
    color: #fff;
}

.phone-profile-text h2{
    font-size: 17.5px;
    color: #fff;
}

.phone-profile-img {
    display: block;
    margin: auto;
    border-radius: 50%;
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100%; /* Ensure the image doesn't exceed its container's height */
}

.phone-profile-button{
    margin: 10px 0;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 5px 10px #0000004e;
    transition: all 0.3s;
}

